{{!< default}}
<div id="root">
  <!-- scrollTo header -->
  <a id="header"></a>

  
  <div class="container-navbar">
    <div class="navbar-backer">
    </div>
    <div class="navbar-relative-box">
      <!-- <img class="navbar-3d-image" src="http://orig12.deviantart.net/7ab8/f/2013/030/5/e/first_try_at_making_a_abstract_model_in_c4d_by_shayd3-d5tatj0.png"/> -->
      <div class="flex-box-navbar">
        <div class="navbar-toggle grey-scroll">
          <a href="#grey">
             <span class="grey-icon">o</span>
          </a>
        </div>
        <div class="navbar-toggle brown-scroll">
          <a href="#brown">
            <span class="brown-icon">o</span>
          </a>
        </div>
        <div class="navbar-toggle white-scroll">
          <a href="#white">
            <span class="white-icon" >o</span>
          </a>
        </div>
        
        <div class="navbar-toggle orange-scroll">
          <a href="#orange">
            <span class="orange-icon">o</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-video">
    <img class="grey-background" src="http://orig08.deviantart.net/d69a/f/2013/246/e/8/draft__cinema_4d_simple_abstract_wallpaper_by_cmgabriel-d6kwlq0.png"/>
    <div class="video-text">
      <h1 class="head-text">Douglas Casserleigh</h1>
    </div> 
    <div class="video-flex">
      <div class="video-relative">
        <img class="splody-image" src="http://4.bp.blogspot.com/-faGB2fRiLdc/UWawod_gsLI/AAAAAAAAAF0/Wif1p84_Kjg/s1600/splody1_0001.png"/>
      </div>
    </div>  
  </div>

 

   <!-- scrollTo summary --> 
  

  

 <!--  GREY DIV -->

  <a id="grey"></a>
  <div class="container-grey">
    <div class="grey-scroll-point">
      <a id="grey"></a>
    </div>  
    <img class="grey-background" src="http://orig08.deviantart.net/d69a/f/2013/246/e/8/draft__cinema_4d_simple_abstract_wallpaper_by_cmgabriel-d6kwlq0.png"/>
    <div class="white-1-icon">
      <!-- <i class="fa fa-github fa-4x" aria-hidden="true"></i> -->
    </div>
    <div class="white-2-icon">
      <!-- <i class="fa fa-codepen fa-4x" aria-hidden="true"></i> -->
    </div>
    <div class="black-1-icon">
      <!-- <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i> -->
    </div>
    <div class="white-1-script">
      <h1>technical</h1>
    </div>
    <div class="white-2-script">
      <h1>human</h1>
    </div>
    <div class="black-1-script">
      <h1>tools</h1>
    </div>
    <div class="grey-flex"> 
      <div class="white-1-box">
        <p class="grey-info">
          Ruby on Rails<br/>         
          Javascript<br/>          
          HTML5<br/>              
          CSS3<br/>                
           
          

        </p>
      </div>
      <div class="white-2-box">
        <p class="grey-info">
          Strong interpersonal communication skills<br/>
          Extensive customer service experience<br/>
          Adaptable, passionate learner<br/>
          Respect for teamwork and positive contribution<br/>
          Honor the values of humility, patience and positivity<br/>


        </p>
      </div>
      <div class="black-1-box">
        <p class="grey-info">
          OS X,       Git<br/>
          Github,     Heroku<br/>
          Rubymine,   Sublime<br/>
          Webpack     Bootstrap<br/>
          Backbone,   React<br/>
          Node,       SQLite<br/>
          Pivotal Tracker,<br/>
          Chrome Dev Tools

        </p>
      </div>
    </div>
  </div>

 <!--  BROWN DIV -->
  
  <div class="container-brown">
    <div class="brown-scroll-point">
      <a id="brown"></a>
    </div>
    <img class="brown-background" src="http://www.coolwallpapers.org/photo/38488/3D_abstract_wallpapers1.jpg"/>
    <div class="github-icon">
      <i class="fa fa-github fa-4x" aria-hidden="true"></i>
    </div>
    <div class="codepen-icon">
      <i class="fa fa-codepen fa-4x" aria-hidden="true"></i>
    </div>
    <div class="linkedin-icon">
      <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i>
    </div>
    <div class="easter-icon">
      
    </div>
    <div class="easter-box">
       <img  class="easter-image" src="http://i.imgur.com/IRi6k.png"> 
    </div>
    <div class="brown-flex"> 
      <div class="github-box">
        <a href= "https://github.com/dougcass">
          <i class="fa fa-github fa-5x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="codepen-box">
        <a href= "http://codepen.io/washburn119/">
          <i class="fa fa-codepen fa-5x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="linkedin-box">
        <a href= "https://www.linkedin.com/in/douglas-casserleigh-111477120">
          <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
        </a>  
      </div>

      
    </div>
  </div>
  
  
  <!-- Stock Video by <a target="_blank" href="http://www.videezy.com">Videezy.com</a> -->


  <div class="container-black">
    <div class="white-scroll-point">
      <a id="white"></a>
    </div>  
    <img class="black-background" src="https://s-media-cache-ak0.pinimg.com/originals/e5/2b/e1/e52be13fafc8965e37892c6d8811e8c3.png"/>
    <div class="spinner-flex-box">
      <div class="spinner-div-1">
        <img class="spinner-3d" src="http://imgview.info/download/20150818/digital-art-cinema-4d-abstract-cgi-4096x3112.png"/>
      </div>
      <div class="spinner-div-2">
        <img class="spinner-3d" src="http://imgview.info/download/20150818/digital-art-cinema-4d-abstract-cgi-4096x3112.png"/>
      </div>
      <div class="spinner-div-3">
        <img class="spinner-3d" src="http://imgview.info/download/20150818/digital-art-cinema-4d-abstract-cgi-4096x3112.png"/>
      </div>
      <div class="spinner-div-4">
        <img class="spinner-3d" src="http://imgview.info/download/20150818/digital-art-cinema-4d-abstract-cgi-4096x3112.png"/>                       
      </div>
      <div class="field-box">
        <div class="field-relative"
          <form>
            <input class="first-name-field field-style" type="text" name="firstname" placeholder="First Name">
            <input class="last-name-field field-style" type="text" name="lastname" placeholder="Last Name">
            <input class="email-field field-style" type="text" name="email" placeholder="Send Me a Message">
            <button class="submit field-style">
              SUBMIT
            </button
          </form>
        </div>
      </div>  
    </div>  
  </div>


  <div class="container-3d">
    <!-- <div class="header-3d">
      <h1 class="header-3d-text">DC</h1>
    </div> -->
    <a id="orange"></a>
    <!-- <div class="text-box-3d">
      <h1 class="text-3d">
        Welcome
      </h1>
    </div>  -->
    <div class="flex-box-3d">
      <img class="image-3d" src="http://orig04.deviantart.net/80a8/f/2012/227/4/b/abstract_render__stock__by_akumazer0-d5b9e9f.png"/>
<!--     http://orig12.deviantart.net/7ab8/f/2013/030/5/e/first_try_at_making_a_abstract_model_in_c4d_by_shayd3-d5tatj0.png -->
    </div>
  </div>
  <div class="fade-transition">
  </div>
  <div class="container-summary">
    <img class="summary-background" src="https://s-media-cache-ak0.pinimg.com/originals/8f/8a/f9/8f8af9b2a2c6f879579a460c2a26eea9.jpg">
    <div class="summary-flex"> 
      <div class="summary-text hideme">
        <p class="summary-ipsum">
          Break a vase, and the love that reassembles the fragments is stronger than that love which took its symmetry for granted when it was whole. -Derek Walcott

        </p>
      </div>  
      <!-- <div class="summary-image">
        <img class="summary-image-3d" src="http://www.officialpsds.com/images/thumbs/Abstract-Blown-Away-psd55679.png"/>
      </div> -->
    </div>
  </div>
  
  <div class="container-video">
    <video class="video-triangles" loop
    autoplay >
      <source src="/video/triangle-loop.mp4" type="video/mp4"/>
    </video>
    <div class="video-text">
      <h1 class="head-text">Douglas Casserleigh</h1>
    </div> 
    <div class="video-flex">
      <div class="video-relative">
        <img class="splody-image" src="http://4.bp.blogspot.com/-faGB2fRiLdc/UWawod_gsLI/AAAAAAAAAF0/Wif1p84_Kjg/s1600/splody1_0001.png"/>
      </div>
    </div>  
  </div>


  <div class="season-container">
    <div class="background-season">
      <div class="season-bar">
        <div class="flex-box-season">
          <div class="season-toggle spring">
            <i class="fa fa-leaf fa-3x spring-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle winter">
            <i class="fa fa-snowflake-o fa-3x winter-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle fall">
            <i class="fa fa-pagelines fa-3x fall-icon" aria-hidden="true"></i>
          </div>
          <div class="season-toggle summer">
            <i class="fa fa-sun-o fa-3x summer-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="season-text-box">
        <h1 class="season-text">Seasons</h1>
      </div>
    </div>
  </div>

 






